@import "../../../styles/variables.css";

.section {
    width: 100%;
    display: flex;
    /* align-items: center; */
}

.filters {
    flex-basis: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    gap: 15px;
}

.filters > .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.filters > .header > h2 {
    font-family: var(--font-secondary);
    font-weight: 400;
}

.filters > .header > button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: var(--color-main);
    gap: 3px;
    padding: 5px;
    transition: all 200ms ease-in-out;
    border-radius: 5px;
    cursor: pointer;
}

.filters > .header > button:hover {
    background-color: var(--color-main);
    color: white;
}

.filters > .header > button > span {
    font-size: 0.75rem;
    align-self: center;
    position: relative;
    top: 1px;
    font-weight: 900;
}

.filters > .divider {
    height: 1px;
    width: 100%;
    background-color: #7678ed55;
}

.filters > .categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filters > .categories:hover {
    grid-template-rows: auto 1fr;
}

.filters > .categories {
    grid-template-rows: 1fr 0fr;
}

.filters > .categories.active {
    grid-template-rows: 1fr 1fr;
}

.filters > .categories > .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters > .categories > .title > h2 {
    font-weight: 400;
    font-family: var(--font-secondary);
    font-size: 1.25rem;
}

.filters > .categories > .title > button {
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.filters > .categories > .title > button:hover {
    transform: scale(1.1);
    background-color: var(--color-main);
}

.filters > .categories > .title > button:hover > span {
    color: white;
}

.filters > .categories > .foldableContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filters > .categories > .foldableContent > label {
    padding: 7px 0px;
    display: flex;
    gap: 7px;
    font-family: var(--font-secondary);
    font-weight: 400;
}

.divider {
    width: 1px;
    height: 98%;
    background-color: #00000011;
}

.products {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-template-rows: repeat(700px);
    gap: 25px;
    padding: 25px;
}

.products > * {
    text-decoration: none;
    color: var(--color-font);
}

.products > a > .product {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    padding: 14px;
    border: 1px solid #00000022;
    transition: all 300ms ease-in-out;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.products > a > .product:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.products > a > .product > img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 25px;
}

.products > a > .product > h2 {
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    font-weight: 400;
}

.products > a > .product > .rating {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products > a > .product > .rating > .rateCount {
    font-size: 1.2rem;
    font-family: var(--font-secondary);
}

.products > a > .product > .rating > div > span {
    font-size: 2.25rem;
}

.products > a > .product > .rating > div > span.active {
    color: var(--color-main);
}

.products > a > .product > .rating > div > span.inactive {
    color: #8d99ae;
}

.products > a > .product > p {
    font-family: var(--font-secondary);
    opacity: 0.5;
}

.products > a > .product > .price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products > a > .product > .price > strong {
    font-family: var(--font-secondary);
}

.products > a > .product > .amount {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.products > a > .product > .amount > .custom {
    display: flex;
    gap: 5px;
}

.products > a > .product > .amount > .custom > input {
    flex: 1;
    text-align: center;
    font-size: 1rem;
}

.products > a > .product > .amount > button.addToCart {
    width: 100%;
    padding: 10px 10px;
    font-family: var(--font-secondary);
    font-size: 1.01rem;
    background-color: white;
    border: 1px solid #778da9;
    border-radius: 5px;
    color: var(--color-main);
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.products > a > .product > .amount > button.addToCart:hover {
    background-color: var(--color-main);
    color: white;
}

.failedToFetchScreen {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.failedToFetchScreen > h1 {
    text-align: center;
    font-family: var(--font-secondary);
}

.failedToFetchScreen > img {
    width: 50%;
}

.failedToFetchScreen > h2 {
    font-family: var(--font-secondary);
}

.failedToFetchScreen > p {
    font-family: var(--font-secondary);
    opacity: 0.5;
}
